<tr data-id="{{ id }}">
    <td>{{ id }}</td>
    <td>{{ title }}</td>
    <td>{{ message }}</td>
    <td>{{ validFrom }}</td>
    <td>{{ validTo }}</td>
    <td>{{ active ? 'Active' : 'Inactive' }}</td>
    <td><button class="edit-notification button button-blue" data-id="{{ id }}">EDIT</button></td>
</tr>
